html, body, ul, li, p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

/* header样式
---------------------------------*/
.header {
	padding: 0 40px;
	overflow: hidden;
	background-color: #123;
}

.header * {
	float: left;
}

.header a.logo {
	display: block;
	text-decuration: none;
}