div.header
	a(href='/').logo ZJDGX
	ul.nav
		li
			a(href='#') Link1
		li
			a(href='#') Link2
		li
			a(href='#') Link3
		li
			a(href='#') Link4
	div.user_info
		- if (user)
			a(href='#') #{user.name}&nbsp;|&nbsp;
			a(href='#') 退出
		- else
			a(href='/login') 登录&nbsp;|&nbsp;
			a(href='/register') 注册