div.header
	a(href='/').logo ZJDGX
	ul.nav
		li
			a(href='#') Link1
		li
			a(href='#') Link2
		li
			a(href='#') Link3
		li
			a(href='#') Link4
	div.user_info
		a(href='/login.html') 登陆
		a(href='/register.html') 注册